


body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
}

body {
    font-size: 100%;
}
  
p {
    font-size: 1em;
}
  
@media screen and (max-width: 64em) {
    body {
      font-size: 90%;
    }
}
  
@media screen and (max-width: 50em) {
    body {
      font-size: 75%;
    }
}
  
@media screen and (max-width: 30em) {
    body {
      font-size: 50%;
    }
}